<link rel="stylesheet" href="\styles\footer.css">
<div class="bottom-nav" id="bottomNav">
    <ul class="bottomNavUl">
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/yojna-search/">Yojna</a></li>
        <li><a href="/last-date-reminder/">Last Date</a></li>
        <li><a href="/exam-date/">Exams</a></li>
        <li><a href="more.html">More</a></li>

    </ul>
</div>
<footer id="footer">

<div class="footer-content">
   
    
    <div class="social-media">
        <a href="https://telegram.me/yojnaportal"><i class="fab fa-whatsapp"></i></a>
        <a href="https://bit.ly/SarkariJankari"><i class="fab fa-telegram"></i></a>
          

    </div>
</div>

 <a href="https://www.yojnaportal.com" title="Yojna Portal Visits">
        <img src="https://counter8.optistats.ovh/private/freecounterstat.php?c=efdehcwl1gbxxhu1fl8pukejtjynh677" border="0" title="Yojna Portal" alt="Yojna Portal Hits">
    </a>
     <p>&copy; Copyright Yojna Portal, 2024</p>
</footer> 

