<link rel="stylesheet" href="\styles\navbar.css">
<div class="scrollmenu">
    <a href="/" class="active">Home</a>
    <a href="/yojna-search/">All Yojna</a>
    <a href="/last-date-reminder/">Last Date</a>
    <a href="/exam-date/">Exams</a>
    <a href="more.html">More</a>
     <a href="https://www.v2kcomputers.com/p/pdf-formsjn.html">PDF Form</a>
     <a href="https://tools.v2kcomputers.com/p/home.html"> Advance Tools </a>
       <a href="#">Admit Card</a>
        <a href="#">Result</a>
</div>