<link rel="stylesheet" href="\styles\sidenav.css">
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    {{ partial "auto-update/all-latest.html" . }}
  </div>
  
  
  <span class="SidenavBtn"  onclick="openNav()">&#9776;</span>
  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
    </script>