/* :root colors */
:root {
    --bgLight: #f1f1f1;
    --bgSoft: rgb(255, 78, 57);
    --txtLight: #edeff3; 
    --textSoft: #cdb2d9;
    --bgBtn:rgb(255, 78, 57);
    --hvBtn:#f4b400;
    --myTxt: rgb(41, 2, 2);
    --bgDark: rgb(32, 2, 2);
    --txtDark: black;
    --bg: #f2f2f2;

}
/* :root colors */ 

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
     background-color: #f1f1f1;
      color: var(--text);
            
    }

a { color:inherit;
    text-decoration:none;}
a:hover { color: green;}
       a:active { color: rgb(255, 78, 57);}
       a:visited {color: purple;}


       .main-container {
        max-width:1366px;
       
        justify-content: center;
       
        margin:auto;
        min-height: 100vh;
        }

        .container {
        display: flex;
        justify-content: space-between; 
      
        /* Adjust spacing as needed */
      }

.single {padding:10px;}
      
    
button {
    background-color:var(--bgBtn); /* Green background */
    border: none;               /* Remove borders */
    color: white;               /* White text */
    padding: 8px 18px;         /* Padding */
    text-align: center;         /* Centered text */
    text-decoration: none;      /* Remove underline */
    display: inline-block;      /* Make the button inline */
          
    margin: 4px 2px;            /* Add some margin */
    cursor: pointer;            /* Pointer/hand icon on hover */
    border-radius: 8px;         /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth background transition */
}
/* Add a hover effect */
button:hover {
    background-color: var(--hvBtn); /* Darker green */
}

